.header {
  align-items: center;
  background-color: #ffffff;
  border-bottom: 0.1px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
  padding: 10px 24px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.header-left {
  align-items: center;
  display: flex;
}

.header-right {
  align-items: center;
  display: flex;
}

.header-left img {
  height: 40px;
  margin-right: 10px;
  object-fit: contain;
}

.header-search {
  align-items: center;
  background-color: #eef3f8;
  border-radius: 5px;
  color: #808080;
  display: flex;
  padding: 8px;
  width: 100%;
}

.header-search input {
  background: none;
  border: none;
  flex: 1;
  outline: none;
  padding-right: 80px;
  margin-left: 4px;
}

.header-profile {
  align-items: center;
  color: #808080;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  position: relative;
}

.header-profile:hover {
  color: #000000;
}

.header .header-profile-avatar {
  font-size: 0.87rem;
  height: 25px;
  object-fit: contain;
  width: 25px;
}

.header-profile-title {
  font-size: 0.75rem;
  font-weight: 400;
}

@media only screen and (max-width: 992px) {
  .header-search {
    width: 180px;
  }

  .header-profile-title {
    display: none;
  }
}
 
@media only screen and (max-width: 576px) {
  .header-search {
    background: none;
    width: auto;
  }

  .header-search-icon {
    height: 25px;
    object-fit: contain;
    width: 25px;
  }

  .header-search-icon:hover {
    color: #000000;
  }

  .header-search input {
    display: none;
  }

  .header-profile-title {
    display: none;
  }
}