.sign-up {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  place-items: center;
}

.sign-up img {
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
}

.sign-up form {
  flex-direction: column;
  display: flex;
}

.sign-up form input {
  border: none;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  font-size: 1.25rem;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 10px;
  width: 350px;
}

.sign-up form button {
  background-color: #0a66c2;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  height: 50px;
  width: 350px;
}

.sign-up form button:hover {
  background-color: #084d91;
}

.sign-up p {
  margin-top: 20px;
}

.sign-up-login {
  border: none;
  color: #0a66c2;
  cursor: pointer;
  font-size: 0.87rem;
  margin-left: 4px;
}

.sign-up-login:hover {
  text-decoration: underline;
}